<div class="col-sm-3 col-xs-12">
  <div class="aboutUsLeft">
    <ul class="List list-unstyled">
      <li routerLinkActive="active">
        <a [routerLink]="['/about/aboutUs']" pageScroll href="#awesomePart" [pageScrollDuration]="0">
          {{'footer.about_us' | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/about/contact']" pageScroll href="#awesomePart" [pageScrollDuration]="0">
          {{'contact_us.contact_us' | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/about/privacy']" pageScroll href="#awesomePart" [pageScrollDuration]="0">
          {{'about_us.privacy' | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/about/career']" pageScroll href="#awesomePart" [pageScrollDuration]="0">
          {{'about_us.job' | translate}}
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/about/terms_conditions']" pageScroll href="#awesomePart" [pageScrollDuration]="0">
          {{'about_us.terms_conditions' | translate}}
        </a>
      </li>
    </ul>
  </div>
</div>
<!--/.col-->
