DB_HOST=freshlinker-old.cv5w9qzbfhl3.ap-southeast-1.rds.amazonaws.com
DB_PORT=5432
DB_DATABASE=freshlinker_v2
DB_USERNAME=freshlinker
DB_PASSWORD=sLPiHwTJ$C1R

AUTH_CLIENT_ID=b93HNsSEXxn0Rmdrn0wnoTVyuNGL9Oh7
AUTH_SECRET=5HeAwDckk1zgGC41wQYCPK7Ar2gXRQoSBSnZ1V9bGRxAU1QK6w2S5JCWArXV50Rt
AUTH_ISSUER=https://freshlinker.auth0.com/

S3_ENDPOINT=s3-ap-southeast-1.amazonaws.com
S3_KEY=AKIAJ54W3JIAFBDLG53A
S3_SECRET=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
S3_REGION=ap-southeast-1
S3_BUCKET=freshlinker-www-prod

MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_SECURE=false
MAIL_AUTH_USER=freshlinker-api
MAIL_AUTH_PASS=gW2n6oEVCaJu

QUEUE_DRIVER=redis
QUEUE_REDIS_HOST=main-queue.rmsozv.0001.apse1.cache.amazonaws.com
QUEUE_REDIS_PORT=6379
QUEUE_REDIS_PREFIX=f

AWS_ACCESS_KEY_ID=AKIAJ54W3JIAFBDLG53A
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1
S3_BUCKET=freshlinker-www-prod

BASEURL=https://freshlinker.com
SOURCEURL=https://a.freshlinker.com

ALLOWIPS=223.74.200.154,218.255.184.142,108.162.222.178,221.125.166.218,162.158.179.30,223.74.200.226,221.125.164.121,221.125.164.107,162.158.178.238,221.125.164.73,52.220.193.4,162.158.179.44,223.74.131.48,221.125.84.215,221.125.87.36,119.236.217.184,221.125.87.115,223.74.196.44,119.140.229.155,223.74.131.87,223.74.131.118
