<div class="enterpriseMain">
  <div class="row">
    <div class="col-xs-12 bgImg">
      <img src="../../assets/img/enterprise_index_one_{{'global.lang' | translate}}.png" alt="" class="img-responsive ">
    </div>
  </div>

  <div class="container">
    <div class="contentOne">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 contentImg">
          <img src="../../assets/img/enterprise_index_two_{{'global.lang' | translate}}.png" alt=""
               class="img-responsive">
        </div>
        <!--/.col-->
        <div class="col-md-6 col-sm-12 col-xs-12 contentText">
          <p class="head">
            <span>{{'enterprise_index.content_one_title' | translate}}</span> <br>
            <a [routerLink]="['/company','pricing']" pageScroll href="#awesomePart" [pageScrollDuration]="0" class="link">
              ({{'enterprise_index.content_one_subtitle' | translate}})
            </a>
          </p>
          <ul class="text">
            <li>
                            <span>
                                {{'enterprise_index.content_one_list_one_1' | translate}}<br>
                                {{'enterprise_index.content_one_list_one_2' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_one_list_two' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_one_list_three' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_one_list_four' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_one_list_five' | translate}}
                            </span>
            </li>
          </ul>
          <p class="more">
            <a href="" class="btn btn-success" [routerLink]="['/enterprise','dashboard_show']">{{'global.learn_more' |
              translate}}</a>
          </p>
        </div>
        <!--/.col-->
      </div>
    </div>
    <div class="contentTwo">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 contentText">
          <p class="head">
            {{'enterprise_index.content_two_title' | translate}}
          </p>
          <ul class="text">
            <li>
                            <span>
                                {{'enterprise_index.content_two_list_one' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_two_list_two' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                               {{'enterprise_index.content_two_list_three' | translate}}
                            </span>
            </li>
            <li>
                            <span>
                                {{'enterprise_index.content_two_list_four' | translate}}
                            </span>
            </li>
          </ul>
          <p class="more">
            <a [routerLink]="['/enterprise','company_page_show']" class="btn btn-success">{{'global.learn_more' |
              translate}}</a>
          </p>
        </div>
        <!--/.col-->
        <div class="col-md-6 col-sm-12 col-xs-12 contentImg">
          <img src="../../assets/img/enterprise_index_three_{{'global.lang' | translate}}.png" alt=""
               class="img-responsive">
        </div>
        <!--/.col-->
      </div>
    </div>

    <div class="contentThree">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 contentImg">
          <img src="../../assets/img/enterprise_index_four_{{'global.lang' | translate}}.png" alt=""
               class="img-responsive">
        </div>
        <!--/.col-->
        <div class="col-md-6 col-sm-12 col-xs-12 contentText">
          <p class="head">
            {{'enterprise_index.content_three_title' | translate}}
          </p>
          <p class="text">
            {{'enterprise_index.content_three_list_one' | translate}}
          </p>
          <p class="text">{{'enterprise_index.content_three_list_two' | translate}}</p>
          <p class="text">{{'enterprise_index.content_three_list_three' | translate}}</p>
          <p class="more">
            <a class="btn btn-success" [routerLink]="['/company','pricing']" pageScroll href="#awesomePart" [pageScrollDuration]="0">{{'global.go_buy' | translate}}</a>
          </p>
        </div>
        <!--/.col-->
      </div>
    </div>


  </div>
</div>

