<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>FreshLinker First IT Hackathon 2017</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
		.strongRed{
			color: red;
		}
	</style>
</head>
<body>
<div class="container" style="padding:0 50px;margin:0 auto;">

<p>Hi there,<br>
Hope you are having a great day!</p>

<p>We are pleased to tell you that our First Hackathon is finally coming and it will be on the <strong class="strongRed">17/18 June 2017!</strong> The theme of this Hackathon is <strong class="strongRed">“Movement”</strong> and is a 30-hour event, where FreshLinker will provide all food and drinks! And more importantly, not only well-performing teams will receive Cash Prizes, they will also have a chance to land job offers with our partnering companies.</p>

<p>This is an event for you if you’re up for doing a bit of job-seeking, meeting recruiters, winning cash prizes, challenging yourselves, meeting new friends in a single weekend-with <strong class="strongRed">FREE</strong> food & drinks. </p>

<strong>Event Details:</strong><br>

<strong>Date:</strong> 17/6 Saturday 10am – 18/6 Sun 3pm<br>
<strong>Venue:</strong> 16/F, FWD Financial Centre, Sheung Wan<br>
<strong>Theme:</strong> Movement<br>
<strong>Target Audience:</strong> No age limits. We welcome programmers, web designers, developers, UX/UI designers and just generally people who are passionate about technology.<br>
<strong>What to bring:</strong> Laptop, mobile phone, chargers and your passion! Tip: bring a sleeping bag to get cozy at times<br>
<strong>Do I need to pay for the event?</strong> <strong class="strongRed">100% Free! Admission is free and includes food, drinks, support and loads of fun! </strong>

<p><strong>Prizes include:</p>

Champion: HKD 12,000 (Sponsored by GoAnimate)<br>
First – Runner Up: HKD 8,000 (Sponsored by Peoplebank Recruitment)<br>
Second – Runner Up: HKD 3,000 (Sponsored by JOS)</strong>

<p><strong>How to form a team?</p>

<p>We think 4 people a team is the perfect combo. You can form a team with 4-5 people and share different roles in the team, such as designer, developer and technical specialist. If you have formed your team before registration, please mention it on the Google Form. If you don't have a team, you can form it on the day.</p>

<p>We welcome BOTH individual & team applications.</strong> <strong class="strongRed">AND if you’re applying as a team, please be reminded that ALL team members must fill in the Google Form individually to be considered. </strong></p>

<p>If you’re interested, please kindly fill in the below Google form to apply for a spot: </p>

<a href="https://docs.google.com/forms/d/1WOCSA09wgTWHAb2P_Hgkm8fOs2IM-QMIqzN4LwabABE/viewform?edit_requested=true" target="_blank"><p>https://docs.google.com/forms/d/1WOCSA09wgTWHAb2P_Hgkm8fOs2IM-QMIqzN4LwabABE/viewform?edit_requested=true</p></a>

<p>**Places are limited and we may select the applicants based on few criteria. Successful applicants will receive our confirmation 2 weeks before the event and will be invited to join a briefing session.**</p>

<p>Please feel free to email <a href="mailto:aricwong@freshlinker.com">aricwong@freshlinker.com</a> or <a href="mailto:andyleung@freshlinker.com">andyleung@freshlinker.com</a> if you have any questions.</p>

Have a great day!<br>

Cheers, <br>

The FreshLinker Team<br>
</div>
</body>
</html>
