<hr class="contactHr">
<div class="container">
  <div class="row contact">
    <div class="contactHead">
      <h3 class="title">
        {{'contact_us.contact_us' | translate}}
      </h3>
      <p class="text">{{'contact_us.subtitle' | translate}}</p>
    </div>
    <!--/.col-->
    <div class="contactContent">
      <h3 class="title text-center">
        {{'contact_us.title' | translate}}
      </h3>
      <div class="row contactList">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
              <div class="list">
                <i class="img first"></i>
                <h3 class="title">{{'contact_us.content_list_one_title' | translate}}</h3>
                <div class="text">{{'contact_us.content_list_one_content' | translate}}</div>
                <div class="phone">(+852)35472513 (HK)</div>
                <div class="phone">(+852)35472516 (HK)</div>
                <div class="time">10 : 00 - 18 : 30 HK time</div>
              </div>
            </div>
            <!--/.col-->

            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
              <div class="list">
                <i class="img second"></i>
                <h3 class="title">{{'contact_us.content_list_two_title' | translate}}</h3>
                <div class="text">
                  {{'contact_us.content_list_two_content_1' | translate}}
                  <br>
                  {{'contact_us.content_list_two_content_2' | translate}}
                </div>
                <a href="mailto:hello@freshlinker.com" type="button" class="btn btn-success button">{{'contact_us.content_list_two_send_email' | translate}}</a>
              </div>
            </div>
            <!--/.col-->

            <div class="col-md-6 col-sm-6 col-xs-12 text-center" *ngIf="false">
              <div class="list">
                <i class="img third"></i>
                <h3 class="title">{{'contact_us.content_list_three_title' | translate}}</h3>
                <div class="text">{{'contact_us.content_list_three_content' | translate}}</div>
                <div class="address">{{'contact_us.content_list_three_address_1' | translate}}</div>
                <div class="address">{{'contact_us.content_list_three_address_2' | translate}}</div>
                <div class="time">8 : 00 - 18 : 00 HK time</div>
              </div>
            </div>
            <!--/.col-->
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
