<img src="../../assets/img/Candidatebanners_2.jpg" alt="" class="img-responsive">
<div class="industry_feed">
  <div class="contentOne">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
          <img src="../../assets/img/industry_feedoneimg.png" alt="" class="img-responsive">
        </div>
        <div class="col-sm-5">
          <h3 class="title">{{'industry_feed.contentOne_title' | translate}}</h3>
          <p class="text">{{'industry_feed.contentOne_text' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--contentTwo-->
  <div class="container">
    <div class="contentTwo row">
      <div class="col-sm-4 col-xs-12 list">
        <div class="pic">
          <img src="../../assets/img/industry1.png" alt="" class="img-circle img-responsive">
        </div>
        <div class="text">
          <h4 class="text-center title">
            {{'industry_feed.contentTwo_title_one_up' | translate}}
            <br/>
            {{'industry_feed.contentTwo_title_one_down' | translate}}
          </h4>
          <p class="text">{{'industry_feed.contentTwo_text_one_first' | translate}}</p>
          <p class="text">{{'industry_feed.contentTwo_text_one_second' | translate}}</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 list">
        <div class="pic">
          <img src="../../assets/img/industry2.png" alt="" class="img-circle img-responsive">
        </div>
        <div class="text">
          <h4 class="text-center title">
            {{'industry_feed.contentTwo_title_two_up' | translate}}<br/>{{'industry_feed.contentTwo_title_two_down' | translate}}
          </h4>
          <p class="text">{{'industry_feed.contentTwo_text_two_first' | translate}}</p>
          <p class="text">{{'industry_feed.contentTwo_text_two_second' | translate}}</p>
          <p class="text">{{'industry_feed.contentTwo_text_two_third' | translate}}</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 list">
        <div class="pic">
          <img src="../../assets/img/industry3.png" alt="" class="img-circle img-responsive">
        </div>
        <div class="text">
          <h4 class="text-center title">
            {{'industry_feed.contentTwo_title_three_up' | translate}}<br/>{{'industry_feed.contentTwo_title_three_down' | translate}}
          </h4>
          <p class="text">{{'industry_feed.contentTwo_text_three_first' | translate}}</p>
          <p class="text">{{'industry_feed.contentTwo_text_three_second' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--/.contentTwo-->
  <hr class="hr">
  <div class="contentThree">
    <div class="container text-center">
      <h3 class="title">{{'industry_feed.contentThree_title' | translate}}</h3>
      <p class="text col-md-8 col-md-offset-2">{{'industry_feed.contentThree_text' | translate}}</p>
      <img src="../../assets/img/industry4.png" alt="" class="img-responsive">
    </div>
  </div>
  <!--/.contentThree-->
  <hr class="hr">
  <div class="contentFour">
    <div class="container">
      <h3 class="text-center title">
        {{'jobs.contentFive_title' | translate}}
      </h3>
      <div class="row containerRow">
        <div class="col-sm-4 col-xs-12 item text-center">
          <a href="" ui-sref="main.jobs" class="img">
            <img src="../../assets/img/jobsround1.png" alt="" class="img-responsive">
          </a>
          <p class="title text-center">
            <a href="" ui-sref="main.jobs">{{'industry_feed.contentFour_title_one' | translate}}</a>
          </p>

        </div>
        <!--/.col-->
        <div class="col-sm-4 col-xs-12 item text-center">
          <a href="" class="img">
            <img src="../../assets/img/jobsround2.png" alt="" class="img-responsive">
          </a>
          <p class="title text-center">
            <a href="">{{'jobs.contentFive_title_two' | translate}}</a>
            <span class="btn btn-success submit">{{'footer.coming_soon' | translate}}</span>
          </p>
        </div>

        <!--/.col-->
        <div class="col-sm-4 col-xs-12 item text-center">
          <a href="" class="img">
            <img src="../../assets/img/jobsround4.png" alt="" class="img-responsive">
          </a>
          <p class="title text-center">
            <a href="">{{'jobs.contentFive_title_four' | translate}}</a>
            <span class="btn btn-success submit">{{'footer.coming_soon' | translate}}</span>
          </p>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.contentFour-->
  <hr class="hr">
  <div class="contentFive">
    <div class="container text-center">
      <h3 class="text-center title">
        {{'jobs.contentSix_title' | translate}}
      </h3>
      <div class="contentFiveBtn">
        <a [routerLink]="['/auth','signup']" class="btn btn-success">
          {{'jobs.contentSix_title_setup' | translate}}
        </a>
      </div>
      <h5 class="subtitle">
        <a [routerLink]="['/article-list','2']" pageScroll href="#awesomePart" [pageScrollDuration]="0" class="title col-sm-6 col-sm-offset-3 Back">{{'industry_feed.contentFive_title_back' | translate}}</a>
      </h5>
    </div>
  </div>
  <!--/.contentFive-->
</div>
