<img src="../../assets/img/jobs1.png" alt="" class="img-responsive">
<div class="jobs" id="#jobs">
    <div class="contentOne">
        <div class="container">
            <div class="row containerRow">
                <div class="col-sm-6 col-xs-12 img">
                    <img src="../../assets/img/jobspoto1.png" alt="" class="img-responsive">
                </div>
                <!--/.col-->
                <div class="col-sm-5 col-xs-12 text">
                    <h4 class="title">
                        {{'jobs.contentOne_title_up' | translate}}<br/>
                        {{'jobs.contentOne_title_down' | translate}}
                    </h4>
                    <p class="content">
                        {{'jobs.contentOne_text' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/.contentOne-->
    <div class="contentTwo">
        <div class="container">
            <div class="row containerRow">
                <div class="col-sm-5 col-xs-12 title">
                    <h4 class="title">
                        {{'jobs.contentTwo_title_up' | translate}}<br/>
                        {{'jobs.contentTwo_title_down' | translate}}
                    </h4>
                    <p class="content">
                        {{'jobs.contentTwo_text' | translate}}
                    </p>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-xs-12 col-sm-offset-1 img">
                    <img src="../../assets/img/jobspoto2.png" alt="" class="img-responsive">
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!--/.contentTwo-->
    <div class="contentThree">
        <div class="container">
            <div class="row containerRow">
                <div class="col-sm-7 col-xs-12 img">
                    <img src="../../assets/img/jobspoto3.png" alt="" class="img-responsive">
                </div>
                <!--/.col-->
                <div class="col-sm-5 col-xs-12 title">
                    <h4 class="title">
                        {{'jobs.contentThree_title_up' | translate}}<br/>
                        {{'jobs.contentThree_title_down' | translate}}
                    </h4>
                    <p class="content">
                        {{'jobs.contentThree_text' | translate}}
                    </p>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.contentThree-->
    <div class="contentFour">
        <div class="container">
            <div class="row containerRow">
                <div class="col-sm-5 col-xs-12">
                    <h4 class="title">
                        {{'jobs.contentFour_title_up' | translate}}<br/>
                        {{'jobs.contentFour_title_down' | translate}}
                    </h4>
                    <p class="content">
                        {{'jobs.contentFour_text' | translate}}
                    </p>
                </div>
                <!--/.col-->
                <div class="col-sm-6 col-xs-12 col-sm-offset-1">
                    <img src="../../assets/img/jobspoto4.png" alt="" class="img-responsive">
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.contentFive-->
    <div class="contentFive">
        <div class="container">
            <h3 class="text-center title">
                {{'jobs.contentFive_title' | translate}}
            </h3>
            <div class="row containerRow">
                <div class="col-sm-4 col-xs-12 item text-center">
                    <a [routerLink]="['/about','industry_feed']" pageScroll href="#awesomePart" [pageScrollDuration]="0" class="img">
                        <img src="../../assets/img/jobsround1.png" alt="" class="img-responsive">
                    </a>
                    <p class="title text-center">
                        <a [routerLink]="['/about','industry_feed']" pageScroll href="#awesomePart" [pageScrollDuration]="0">{{'jobs.contentFive_title_one' | translate}}</a>
                    </p>

                </div>
                <!--/.col-->
                <div class="col-sm-4 col-xs-12 item text-center">
                    <a [routerLink]="['/about','industry_feed']" pageScroll href="#awesomePart" [pageScrollDuration]="0" class="img">
                        <img src="../../assets/img/jobsround2.png" alt="" class="img-responsive">
                    </a>
                    <p class="title text-center">
                        <a [routerLink]="['/about','industry_feed']" pageScroll href="#awesomePart" [pageScrollDuration]="0">{{'jobs.contentFive_title_two' | translate}}</a>
                        <span class="btn btn-success submit">{{'footer.coming_soon' | translate}}</span>
                    </p>
                </div>
                <!--/.col-->
                <div class="col-sm-4 col-xs-12 item text-center">
                    <a class="img">
                        <img src="../../assets/img/jobsround4.png" alt="" class="img-responsive">
                    </a>
                    <p class="title text-center">
                        <a href="">{{'jobs.contentFive_title_four' | translate}}</a>
                        <span class="btn btn-success submit">{{'footer.coming_soon' | translate}}</span>
                    </p>
                </div>
                <!--/.col-->
            </div>
        </div>
    </div>
    <!--/.contentSix-->
    <div class="contentSix">
        <div class="container  text-center">
            <h3 class="text-center title">
                {{'jobs.contentSix_title' | translate}}
            </h3>
            <div class="contentSixBtn">
                <a [routerLink]="['/auth','signup']" pageScroll href="#awesomePart" [pageScrollDuration]="0" class="btn btn-success">
                    {{'jobs.contentSix_title_setup' | translate}}
                </a>
            </div>

            <h5 class="subtitle">
                <a [routerLink]="['/position/postion/position_category']" pageScroll href="#awesomePart" [pageScrollDuration]="0" >{{'jobs.contentSix_title_back' | translate}}</a>
            </h5>
        </div>
    </div>
    <!--/.contentSeven-->
    <div class="contentSeven" ng-show="false">
        <div class="container">
            <h3 class="text-center title">{{'jobs.contentSeven_title' | translate}}</h3>
            <div class="containerRow">
                <ul class="list-inline icon text-center">
                    <li class="list"><a href="http://www.facebook.com/freshlinker" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
                    <li class="list"><a href="https://www.linkedin.com/company/3977474" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
                    <li class="list"><a href=""><i class="fa fa-weibo fa-3x"></i></a></li>
                    <li class="list"><a href=""><i class="fa fa-weixin fa-3x"></i></a></li>
                    <li class="list"><a href=""><i class="fa fa-qq fa-3x"></i></a></li>
                    <li class="list"><a href=""><i class="fa fa-twitter fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
