


<div class="container">
  <div class="row">
    <app-aboutNavBar></app-aboutNavBar>
    <div class="col-sm-9 col-xs-12">
      <div class="aboutUsContent">
        <h2 class="aboutUsTitle">terms and conditions apply</h2>
        <div class="text privacy">
          Freshlinker.com is owned and operated by FreshLinker Limited.

          FreshLinker has an important responsibility to protect the personal

          information FreshLinker collects. When you provide us with your

          personal information, by email, through this website, or in person,

          we will effort to ensure that your information remains private and is

          solely used in agreement to the policy below.

          FreshLinker may amend, update, vary or add this privacy

          statement from time to time without any prior notice as necessary

          and any revised privacy statement will be published on this

          website.
          By accessing and using freshlinker.com and any of its pages, you

          are agreeing to the terms and conditions set out herein.
        </div>

        <div class="termsContent">
          <h4 class="subtitle">
            Collection
          </h4>
          <div>
            <p>（Freshlinker.com collects information about user that is personally identifiable like name, address, email address, phone number and demographic information including country, age, sex, occupation, employment history and education that is not otherwise publicly available.
            </p>
          </div>

          <h4 class="subtitle">
            Purpose
          </h4>
          <div>
            <p>
              The purposes for which your personal data are used or are to be used included:

            </p>

            <p>
              1. to provide us with a better understanding on the demographics

              of the registered users;
            </p>

            <p>
              2. to enable us to provide other services to better tailor your needs;

            </p>
            <p>
              3. for direct marketing of our products and services and/or those of our business partners (restricted to those informed by or sent through us only).
            </p>

            <p>
              4. for recruitment purpose and internal analysis

            </p>
            <p>
              5. and purposes incidental, associated or relating to any of the above items (1) to (4).
            </p>

            <p>
              Transfer
            </p>

            <p>
              The personal data of user will only be transmitted and disclosed to our business partners, which have made specific requests for such data only if and when user has given his/her consent.
            </p>

          </div>
          <h4 class="subtitle">
            Freshlinker.com will not disclose personal data of user unless we are required to do so by law or we believe that such action is necessary to :
          </h4>
          <div>
            <p>
              1. comply with the law or applicable regulations;
            </p>
            <p>
              2. protect and defend our rights and property;
            </p>
            <p>
              3. protect against misuse or unauthorized use of Freshlinker.com;
            </p>
            <p>
              or
            </p>
            <p>
              4. protect the personal safety or property of our users or the public.Freshlinker.com is not responsible for the third-parties contents or their privacy policies or how they treat information about their users.
            </p>
          </div>
          <h4 class="subtitle">
            Retention
          </h4>
          <div>
            <p>
              Your personal data will be kept until such times as you make a written request to terminate your membership of Freshlinker.com.
            </p>
          </div>
          <h4 class="subtitle">
            Opting-out
          </h4>
          <div>
            <p>
              If you do not wish to receive any aforesaid promotional materials

              from us and /or our business partners (restricted to those informed

              by or sent through us only), please indicate your objection by

              emailing to us at hello@freshlinker.com.
            </p>
          </div>
          <h4 class="subtitle">
            Contact us
          </h4>
          <div>
            <p>
              If you have any questions about our privacy policy, please feel free to contact us by email at hello@freshlinker.com.
            </p>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
