<img src="../../../assets/img/aboutUs.png" alt="" class="img-responsive">
<div class="aboutUs">
  <div class="aboutUsContentOne">
    <div class="container">
      <p>
        {{'about_us.content_one_1' | translate}}
      </p>
      <p>
        {{'about_us.content_one_2' | translate}}
      </p>
    </div>
  </div>
  <div class="container">
    <div class="aboutUsContentTwo row">
      <div class="col-xs-12 text-center heading">
        <p class="subtitle">
          {{'about_us.content_two_subtitle' | translate}}
        </p>
        <p class="title">
          {{'about_us.content_two_title' | translate}}
        </p>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-md-4 col-xs-12 item">
        <img src="../../../assets/img/aboutUs1.png" alt="" class="img-responsive">
        <div class="title text-center">
          {{'about_us.content_two_list_one_title' | translate}}
        </div>
        <div class="content">
          <p>{{'about_us.content_two_list_one_1' | translate}}</p>
          <p>{{'about_us.content_two_list_one_2' | translate}}</p>
          <p>{{'about_us.content_two_list_one_3' | translate}}</p>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-md-4 col-xs-12 item">
        <img src="../../../assets/img/aboutUs2.png" alt="" class="img-responsive">
        <div class="title text-center">
          {{'about_us.content_two_list_two_title' | translate}}
        </div>
        <div class="content">
          <p>{{'about_us.content_two_list_two_1' | translate}}</p>
          <p>{{'about_us.content_two_list_two_2' | translate}}</p>
          <p>{{'about_us.content_two_list_two_3' | translate}}</p>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-md-4 col-xs-12 item">
        <img src="../../../assets/img/aboutUs3.png" alt="" class="img-responsive">
        <div class="title text-center">
          {{'about_us.content_two_list_three_title' | translate}}
        </div>
        <div class="content">
          <p>{{'about_us.content_two_list_three_1' | translate}}</p>
          <p>{{'about_us.content_two_list_three_2' | translate}}</p>
          <p>{{'about_us.content_two_list_three_3' | translate}}</p>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.aboutUsContentTwo-->
    <hr>
    <div class="aboutUsContentThree">
      <div class="col-xs-12 text-center heading">
        <p class="subtitle">
          {{'about_us.content_three_subtitle' | translate}}
        </p>
        <p class="title">
          {{'about_us.content_three_title' | translate}}
        </p>
      </div>
      <!--/.col-->
      <div class="row Content">
        <div class="col-sm-7 col-xs-12">
          <p class="title"><a ui-sref="main.jobs">{{'about_us.content_three_content_title' | translate}}</a></p>
          <div class="content">
            <p>
              {{'about_us.content_three_content_1' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-5 col-xs-12">
          <img src="../../../assets/img/aboutUs4.png" alt="" class="img-responsive">
        </div>
        <!--/.col-->
      </div>
    </div>
    <!--/.aboutUsContentThree-->
  </div>
  <div class="aboutUsContentFour">
    <div class="container">
      <div class="row Content">
        <div class="col-sm-6 col-xs-12">
          <img src="../../../assets/img/aboutUs5.png" alt="" class="img-responsive">
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-xs-12">
          <p class="title"><a href="" ui-sref="main.industry_feed">{{'about_us.content_four_content_title' | translate}}</a></p>
          <div class="content">
            <p>
              {{'about_us.content_four_content_1' | translate}}
            </p>
            <p>
              {{'about_us.content_four_content_2' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.aboutUsContentFour-->


  <div class="aboutUsContentFive">
    <div class="container">
      <div class="row Content">
        <div class="col-sm-6 col-xs-12">
          <p class="title">
            {{'about_us.content_five_content_title' | translate}}
            <span class="btn submit btn-success ng-binding">{{'footer.coming_soon' | translate}}</span>
          </p>
          <div class="content">
            <p>
              {{'about_us.content_five_content_1' | translate}}
            </p>
            <p>
              {{'about_us.content_five_content_2' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-xs-12">
          <img src="../../../assets/img/aboutUs6.png" alt="" class="img-responsive">
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.aboutUsContentFive-->
  <div class="aboutUsContentSix">
    <div class="container">
      <div class="row Content">
        <div class="col-sm-6 col-xs-12">
          <p class="title">
            {{'about_us.content_six_content_title' | translate}}
            <span class="btn submit btn-success ng-binding">{{'footer.coming_soon' | translate}}</span>
          </p>
          <div class="content">
            <p>
              {{'about_us.content_six_content_1' | translate}}
            </p>
            <p>
              {{'about_us.content_six_content_2' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-xs-12">
          <img src="../../../assets/img/aboutUs7.png" alt="" class="img-responsive">
        </div>
        <!--/.col-->

      </div>
    </div>
  </div>
  <!--/.aboutUsContentSix-->
  <div class="aboutUsContentSeven">
    <div class="container">
      <div class="row Content">
        <div class="col-sm-6 col-xs-12">
          <img src="../../../assets/img/aboutUs8.png" alt="" class="img-responsive">
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-xs-12">
          <p class="title">{{'about_us.content_seven_content_title' | translate}}</p>
          <div class="content">
            <p>
              {{'about_us.content_seven_content_1' | translate}}
            </p>
            <p>
              {{'about_us.content_seven_content_2' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.aboutUsContentSeven-->
  <div class="aboutUsContentEight">
    <div class="container">
      <div class="row Content">
        <div class="col-sm-6 col-xs-12">
          <p class="title">
            <a href="http://www.facebook.com/freshlinker" target="_blank">
              {{'about_us.content_eight_content_title' | translate}}
            </a>
          </p>
          <div class="content">
            <p>
              {{'about_us.content_eight_content_1' | translate}}
            </p>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-xs-12">
          <a href="http://www.facebook.com/freshlinker" target="_blank"><img src="../../../assets/img/aboutUs9.png" alt="" class="img-responsive"></a>
        </div>
        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.aboutUsContentEight-->
  <div class="aboutUsContentNine">
    <div class="container">
      <div class="col-xs-12 heading">
        <p class="subtitle text-center">
          {{'about_us.content_nine_subtitle' | translate}}
        </p>
        <p class="title">
          {{'about_us.content_nine_title' | translate}}
        </p>
      </div>
      <!--/.col-->
      <div class="col-sm-4 col-md-4 col-xs-12 item text-center">
        <img src="../../../assets/img/aboutUs10.png" alt="" class="img-responsive">
        <a class="btn btn-success" target="_blank"
           (click)="downLoad('/assets/pdf/FreshLinker_Candidates_Ebook-1_FreshLinker’s_Interview_Cheat_Sheet.pdf')">
          {{'global.download' | translate}}
        </a>
      </div>
      <!--/.col-->
      <div class="col-sm-4 col-md-4 col-xs-12 item text-center">
        <img src="../../../assets/img/aboutUs11.png" alt="" class="img-responsive">
        <a class="btn btn-success" target="_blank"
           (click)="downLoad('/assets/pdf/FreshLinker_Candidates_Ebook-2_FreshLinker’s_Interview_Cheat_Sheet.pdf')">
          {{'global.download' | translate}}
        </a>
      </div>
      <!--/.col-->
      <div class="col-sm-4 col-md-4 col-xs-12 item text-center">
        <img src="../../../assets/img/aboutUs12.png" alt="" class="img-responsive">
        <a (click)="downLoad('/assets/pdf/FreshLinker_Candidates_Ebook-3_FreshLinker’s_Interview_Cheat_Sheet.pdf')"
           target="_blank" class="btn btn-success">
          {{'global.download' | translate}}
        </a>
      </div>
      <!--/.col-->
    </div>
  </div>
  <!--/.aboutUsContentNine-->


</div>


