<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="prompt">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-12 promptBtn col-md-offset-1">
            <button class="btn  btn-circle btn-xl"><i class="fa fa-eye"></i></button>
          </div>
          <!--/.col-->
          <div class="col-md-8 col-sm-10 col-xs-12">
            <p>{{'global.moderated' | translate}}</p>
          </div>
          <div class="col-xs-12 text-center">
            <!--<a [routerLink]="['/company',companyId,'dashboard']" type="button" class="btn btn-success" *ngIf="companyId !== undefined">{{'enterprise.managementCompany' | translate}}</a>-->
            <!--<a [routerLink]="['/enterprise','enterprise_show']"  type="button" class="btn btn-success" *ngIf="companyId === undefined">{{'enterprise.managementCompany' | translate}}</a>-->
          </div>
        </div>
      </div>
      <!--/.prompt-->
    </div>
    <!--/.col-->
  </div>
</div>
