<style>
  .text {
    padding: 10px;
  }
</style>
<div class="text">
  <p class="name-text">
    Hi {{email}} user,
  </p>
  <p class="text">
    Hope you are well! Since 2014, we have been working hard to connect young talents to great enterprises and
    organizations, like yours. And we are glad to tell you we have finally upgraded our platform! <br/>
    你好！從2014年起，FreshLinker致力於將優秀的年輕人才聯繫到出色的企業及機構。如今，我們十分榮幸地宣布，FreshLinker平台迎來了全信的升級！
  </p>

  <p class="text">
    Powered by data science, consumer-friendly technologies, social signals and predictive analytics, the new
    FreshLinker platform strives to help companies to increase their recruiting ROI of young talents
    recruitment by young talents-centric recruiting and employer branding tools.<br/>
    全面升級的FreshLinker平台應用了最先進的數據分析技術，以協助貴公司招聘更出色的人才以及打造卓越的僱主品牌。
  </p>

  <p class="text">
    However, there’s one small thing we’re going to ask you to do – all registered clients will need to reset
    their passwords, so your account is fully protected. <strong style="color: #4a80bc">You can do this by
    simply clicking the link below, login with the random generated below and edit your password
    accordingly</strong>.<br/>
    為提升帳戶安全，已註冊的帳戶將重置密碼，<strong style="color: #4a80bc">請使用以下隨機生成的新密碼，點擊下方按鈕登入，並重新修改密碼</strong>。
  </p>

  <div style="">
    <div style="text-align: center; padding: 6px 15px; border-radius: 4px; margin: 0 auto 15px; width: 15%; color: #00b015; border: 1px solid #ccc; letter-spacing: 5px;">
      {{ password}}
    </div>
    <div style="text-align: center; padding: 6px 15px; border-radius: 4px; margin: 0 auto 15px; width: 15%; background: #00b015; color: #fff; letter-spacing: 5px;">
      <a href="http://www.freshlinker.com/"
         style="display: inline-block; width: 100%; text-decoration: none; color: #fff;">登入</a>
    </div>
  </div>

  <p class="text">
    We apologize for any inconvenience caused in advance, and we will compensate with our easy-to-use
    recruitment platform!<br/>
    為你造成的不便，敬請諒解，我們將會以更優質的招聘平台及服務作為補償。

  </p>

  <p class="text">
    Need help along the way? Please feel free to contact us at +852 3547 2513. <br/>
    如果你有任何問題，請立即透過+852 3547 2513聯絡我們。
  </p>


  <p class="text">
    Friendly Password Guidelines <br/>
    保障密碼安全的須知：
  </p>
  <ul>
    <li>
      <p>
        Never reveal your password to anyone else. Be private.<br/>
        絕對不要向任何人透露您的密碼。
      </p>
    </li>
    <li>
      <p>
        Don't use your personal details as your password. The password must be at least 6 characters long
        and contains a mix of upper case/lower case letters, numbers and special characters.<br/>
        建立難以遭人猜中的密碼，並請不可使用個人資料。請務必使用最小6個字符，並包含大小寫字母、數字和符號。
      </p>
    </li>
    <li>
      <p>
        You should use different passwords for different accounts on the internet.<br/>
        請針對個別網上帳戶使用不同的密碼。
      </p>
    </li>
  </ul>

  <p>
    Thank you for your continuing support and welcome to the new FreshLinker platform! <br/>
    感謝你對我們的的支持及包容，歡迎使用最新的FreshLinker平台！
  </p>
  <p>
    Cheers,<br/>
    The FreshLinker Product Team
  </p>

</div>
