<div class="container">
  <div class="row">
    <app-aboutNavBar></app-aboutNavBar>
    <div class="col-sm-9 col-xs-12">
      <div class="aboutUsContent">
        <h2 class="aboutUsTitle">privacy policies</h2>


        <div class="privacyContent">
          <p>
            1. All advertisements are placed and all orders are accepted

            subject to the terms and conditions as hereinafter set out provided

            that FreshLinker Limited. (‘FreshLinker’) expressly reserves its

            right to amend, vary, replace or cancel any of such terms and

            conditions without prior notice to the advertiser and the advertiser

            is deemed to have express knowledge of and be bound by such

            terms and conditions. No terms sought to be applied by the

            advertiser to any order for advertising shall be binding upon

            FreshLinker. Advertising orders for space will not be considered as

            contracts.
          </p>
          <p>
            2. FreshLinker reserves the right to reject, decline or refuse to

            publish in whole or in part or to amend any advertisement with or

            without notice to the advertiser where in its sole opinion it

            considers necessary or desirable, and FreshLinker shall not in any

            way be liable for any loss or damage arising as a result of such

            non-publication or amendment as foresaid (nor shall any refund of

            or deduction from the costs of the advertisement or any other

            compensation be granted by FreshLinker to the advertiser in the

            event of such non-publication or amendment.) Where the

            advertiser requires that its name and address or other information

            shall not be disclosed and FreshLinker shall have been so notified

            by the advertiser on placement of its order FreshLinker shall use

            reasonable endeavors to ensure the same but shall not be liable

            for any disclosure unless such disclosure is made with the express

            knowledge or authority of FreshLinker.
          </p>
          <p>
            3. Advertisements require specific placement or extra processing

            shall be subject to extra charges. FreshLinker shall have the

            absolute right at any time to determine, adjust or vary the

            classification and rate of charges applicable to all advertisements

            placed. Published rates and charges are those set out on any

            order form or acknowledgement may be varied by FreshLinker at

            any time without notice prior to invoicing.
          </p>
          <p>
            4. Acceptance of an advertisement for publication does not

            constitute a binding commitment or any representation or warranty

            on FreshLinker’s part to publish the same either at all or on any

            specified date or dates. FreshLinker shall not be liable for any loss,

            costs or expenses incurred by non-publication of any other cause

            beyond the control of FreshLinker. FreshLinker liability shall in

            case of non-publication be limited to refund of the charge of the

            advertisement already paid and in all other cases as aforesaid

            FreshLinker shall have the option either to grant a refund of such

            proportion of the paid charge as shall in FreshLinker’s sole opinion

            be reasonable or in lieu of such refund and at FreshLinker

            absolute discretion to publish the advertisement as soon as

            reasonably practicable.
          </p>
          <p>
            5. FreshLinker shall use reasonable endeavors to accept orders if

            they are received at the location and by the time specified by

            FreshLinker from time to time for that type of advertisement. All

            advertisement copy and artwork must be received by the latest

            receipt time specified by FreshLinker which may be varied by

            FreshLinker without notice. FreshLinker shall have the right to

            refuse to accept any orders or to decline or refuse to publish any

            orders if the advertisement copy and artwork of such orders shall

            not have been received by FreshLinker the latest receipt time as

            aforesaid nor shall FreshLinker be liable for any loss or damage

            arising as a result of non-publication hereunder.
          </p>
          <p>
            6. It is responsibility of the advertiser to check the correctness of

            an advertisement before it is repeated. The advertiser and /or its

            advertising agent(s) shall indemnify and keep indemnified

            FreshLinker in respect of all loss, damage, costs and expenses

            including legal fees arising directly or indirectly from the publication

            of an advertisement on instructions from the advertiser and / or its

            advertising agent(s).
          </p>
          <p>
            7. All cheques, money-order, etc. should be made payable to

            FreshLinker Limited’. Rates are expressed in Hong Kong dollars

            but FreshLinker shall have absolute discretion to accept payment

            in other currencies the rate of conversion to Hong Kong dollars for

            payment shall be determined by FreshLinker from time to time.
          </p>
          <p>
            8. The advertiser will be invoiced upon publication unless the

            advertising charges are prepaid. Terms of payment are net 7 days

            from the date of invoice or otherwise agreed by FreshLinker.

            FreshLinker shall have the right to charge interest on any

            outstanding payment after the due date (without any further notice)

            at the rate of two percent (2%) per month from date of invoice on

            outstanding balance to date receipt of payment by FreshLinker and

            in addition, FreshLinker shall also be entitled to recover from the

            advertiser any costs and expenses (including all legal fees)

            incurred by FreshLinker in recovering any outstanding payment

            and interest thereon.
          </p>
          <p>
            9. The advertiser is liable at all time for payment of all advertising

            charges. Where a recognized advertising agent substitutes its

            order for that of the original advertising or requires invoices

            addressed to the advertising agent. FreshLinker shall hold the

            agent and the original advertiser jointly and severally liable

            hereunder.
          </p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
