.myResume {
  padding: 10px 20px 20px 20px;
  div.resumeMessage {
    padding: 20px 0;
    .resumeImg {
      margin: 20px 0;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .resumeMessageList {
      li {
        padding: 5px 10px;
        i {
          color: $brand-success;
        }
      }
    }
    p.name {
      font-size: $font-size-h3;
      color: $brand-success;
    }
    p.selfDescription {
      font-size: $font-size-large;
      line-height: 1.6;
    }
  }
  .resumeContent {
    h4.title {
      span {
        padding: 6px 24px;
        background-color: $gray-lighter;
        color: $brand-danger;
        border-radius: 20px;
      }
    }
    article.resumeDetail {
      h4.title {
        height: 45px;
        line-height: 45px;
      }
      ul.List {
        list-style-type: none;
        padding-left: 0;
        li.list {
          padding-bottom: 20px;
          p.name {
            font-size: $font-size-large;
          }
          p.content,p.time {
            color: $brand-danger;
            span {
              padding-right: 5px;
            }
          }
        }

      }

      ul.language {
        margin-bottom: 20px;
        padding-top: 20px;
        li.list {
          padding-right: 25px;
          p {
            span {
              color: $brand-danger;
            }
            span.level {
              background-color: $brand-success;
              color: $body-bg;
              border-radius: 20px;
              padding: 2px 15px;
            }
          }
        }
      }

    }
  }
}

@media (max-width: $screen-xs-max) {
  .breadList ul.breadRight {
    text-align: left;
  }

  .resumeContent {
    article.resumeDetail {
      ul.List {
        li.list {
          text-align: center;
        }
      }
    }
  }


}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .breadList ul.breadRight {
    text-align: left;
  }
  .resumeContent {
    article.resumeDetail {
      ul.List {
        li.list {
          text-align: center;
        }
      }
    }
  }

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .myResume {
    .resumeContent {
      article.resumeDetail {
        padding: 0 40px;
        ul.List {
          li.list {
            p.time {
              text-align: right;
            }
          }
        }
      }

    }
  }

}
@media (min-width: $screen-lg-min) {
  .myResume {
    .resumeContent {
      article.resumeDetail {
        padding: 0 60px;
        ul.List {
          li.list {
            p.time {
              text-align: right;
            }
          }
        }
      }

    }
  }
}
