<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>香港貿發局香港春季電子產品展, 13-16/4/2017 香港會議展覽中心，立即登記免費換領入場證及節省100港元！</title>
  <meta name="title" content="香港貿發局香港春季電子產品展, 13-16/4/2017 香港會議展覽中心，立即登記免費換領入場證及節省100港元！">
  <meta name="description" content="由香港貿易發展局主辦並於香港會議展覽中心舉行的香港春季電子產品展，網羅各式各樣的電子產品，包括：視聽產品、品牌電子、環保節能、i-World、包裝及設計、導航系統、創新發明、電訊設備、和檢測及認證服務等一應俱全。">


  <meta property="og:image" content="http://info.hktdc.com/cm/general/img/tdc_logo_4c_wbg.gif">
  <link rel="image_src" href="http://info.hktdc.com/cm/general/img/tdc_logo_4c_wbg.gif">
  <style type="text/css">
    body {
      margin-top: 0px;
    }
  </style>
</head>

<body bgcolor="#dcdcdc">
<table cellspacing="0" cellpadding="0" width="102%" border="0">
  <tbody>
  <tr>
    <td>
      <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>

        </tr>

        <tr>
          <td valign="top">
            <table width="650" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td width="1" bgcolor="#58595b"><img style="display:block" src="http://ictexpo.hktdc.com/dm/2016/1st_eDM/img/spacer.gif" width="1"
                                                     height="1"></td>
                <td align="left">
                  <table width="648" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                      <td align="center" width="648" height="1"></td>
                    </tr>
                    <tr>
                      <td width="648" height="1" colspan="2" align="center" bgcolor="#333333"></td>
                    </tr>

                    <tr>
                      <td align="left" valign="top"></td>
                    </tr>
                    <tr>
                      <td colspan="2"><img src="http://ictexpo.hktdc.com/dm/2017/public_day/img/TDC-public-day-short-eDM_01.jpg"
                                           alt="Hong Kong Electronics Fair (Spring Edition)" width="648" height="131" border="0" usemap="#Map"
                                           style="display:block;"></td>
                    </tr>
                    <tr>
                      <td colspan="2"><img src="http://ictexpo.hktdc.com/dm/2017/public_day/img/TDC-public-day-short-eDM_02.jpg"
                                           alt="Hong Kong Electronics Fair (Spring Edition)" width="648" height="875" usemap="#Map2"
                                           border="0" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td colspan="2"><img src="http://ictexpo.hktdc.com/dm/2017/public_day/img/TDC-public-day-short-eDM_03.jpg"
                                           alt="Hong Kong Electronics Fair (Spring Edition)" width="648" height="205" border="0" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td colspan="2"><img src="http://ictexpo.hktdc.com/dm/2017/public_day/img/TDC-public-day-short-eDM_04.jpg"
                                           alt="Hong Kong Electronics Fair (Spring Edition)" width="648" height="431" usemap="#Map3"
                                           border="0" style="display:block;"></td>
                    </tr>
                    <tr>
                      <td colspan="2"><img src="http://ictexpo.hktdc.com/dm/2017/public_day/img/TDC-public-day-short-eDM_05.jpg"
                                           alt="Hong Kong Electronics Fair (Spring Edition)" width="648" height="477" usemap="#Map4"
                                           style="display:block;" border="0"></td>
                    </tr>

                    <tr>
                      <td align="center" width="648"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header_btm_590.gif"
                                                          width="648" height="1"></td>
                    </tr>

                    <tr>

                      <td align="left">
                        <table width="648" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                          <tr>
                            <td width="10" bgcolor="#e7e7e8"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif"
                                                                  width="1" height="1"></td>
                            <td>
                              <table width="638" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e7e8">
                                <tbody>
                                <tr>
                                  <td align="left" bgcolor="#e7e7e8" valign="top">
                                    <a href="http://www.hktdc.com/mis/tu/en/" target="_blank" style="text-decoration: none;">
                                      <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">Terms of Use </font>
                                    </a>
                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">/ </font>
                                    <a href="http://www.hktdc.com/mis/tu/tc/" target="_blank" style="text-decoration: none;">
                                      <font style="font-family: 新細明體,simsun; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">使用條款</font>
                                    </a>&nbsp;
                                    <a href="http://www.hktdc.com/mis/pps/en/Privacy-Policy-Statement.html" target="_blank" style="text-decoration: none;">
                                      <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">Privacy Statement </font>
                                    </a>
                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">/ </font>
                                    <a href="http://www.hktdc.com/mis/pps/tc/%26%2331169%3B%26%2338560%3B%26%2325919%3B%26%2331574%3B%26%2332882%3B%26%2326126%3B.html"
                                       target="_blank" style="text-decoration: none;">
                                      <font style="font-family: 新細明體,simsun; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">私隠政策聲明</font>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" bgcolor="#e7e7e8" valign="top">
                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">© 2017 Hong Kong Trade Development Council. All rights reserved. <br> 38/F,
                                      Office Tower, Convention Plaza, 1 Harbour Road, Wan Chai, Hong Kong</font>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" bgcolor="#e7e7e8" valign="top">
                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">Customer Service Line: (852) 1830 668</font>
                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial"><br> Email: <a href="mailto:hktdc@hktdc.org">hktdc@hktdc.org</a></font>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="18" align="left" valign="top" bgcolor="#e7e7e8">
                                    <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">© 2016 香港貿發局版權所有, 對違反版權者保留一切追索權利。</font>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table width="638" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <table width="529" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                              <td align="left" bgcolor="#e7e7e8" valign="top" width="528">
                                                <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">香港灣仔港灣道1號會展廣場辦公大樓38樓</font>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="left" bgcolor="#e7e7e8" valign="top">
                                                <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">客戶服務專線: (852) 1830 668<br> 電郵: </font>
                                                <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial"><a href="mailto:hktdc@hktdc.org">hktdc@hktdc.org</a></font>
                                                <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="5"></td>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td align="right" bgcolor="#e7e7e8" valign="bottom" width="109">
                                          <a href="http://www.hktdc.com/" target="_blank"><img style="display: block" src="http://info.hktdc.com/cm/general/img/footer_11.gif"
                                                                                               alt="www.hktdc.com" border="0" height="25" width="109"></a>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td width="1" bgcolor="#58595b"><img style="display:block" src="http://ictexpo.hktdc.com/dm/2016/1st_eDM/img/spacer(1).gif" width="1"
                                                     height="1"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" style="background-color:#58595b" height="4"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header650_bottom2.gif" width="650" height="4"></td>
        </tr>
        <tr>
          <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td width="13" bgcolor="#dcdcdc">
                  <font size="1" color="#58595b" face="verdana" style="font-family:verdana; font-size:13px; line-height:18px;"><br>
                    <br>
                  </font>
                </td>
                <td width="637" bgcolor="#dcdcdc">
                  <font style="font-family: 微軟正黑體,microsoft JHengHei; font-size: 13px; line-height: 15px;" size="1" color="#58595b" face="微軟正黑體,microsoft JHengHei">您收到香港貿發局服務推廣訊息，因為本局的公司資料庫載有您的聯絡資料。此電郵地址僅供發放消息之用，請勿回覆此電郵。如對此電郵內容有任何查詢，請電郵至 <a href="mailto:exhibitions@hktdc.org"
                                                                                                                                                                                                                                                 style="color:#58595b; text-decoration:underline">exhibitions@hktdc.org</a></font>
                  <font style="font-family: verdana; font-size: 11px; line-height: 18px;" size="1" color="#58595b" face="verdana"><br>
                    <br> To unsubscribe or manage your HKTDC e-subscription, please click <a href="http://www.hktdc.com/epc/epc_subscription.htm?usid=$$EMAIL$&amp;locale=EN"
                                                                                             target="_blank" style="color:#58595b; text-decoration:underline">here</a>.<br></font>
                  <font style="font-family: verdana; font-size: 13px; line-height: 15px;" size="1" color="#58595b" face="verdana">拒絕接收推廣信息或更新您的香港貿發局電郵訂閲，請按<a href="http://www.hktdc.com/epc/epc_subscription.htm?usid=$$EMAIL$&amp;locale=zh_TW"
                                                                                                                                                              target="_blank" style="color:#58595b; text-decoration:underline">此處</a>。</font>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>

<!-- START OF SmartSource Data Collector TAG -->
<!-- Copyright (c) 1996-2006 WebTrends Inc.  All rights reserved. -->
<!-- $DateTime: 2006/03/01 12:51:54 $ -->
<script type="text/javascript">
/*  var gDomain = "wtsdc.tdctrade.com";
  var gDcsId = "dcsk3op4sticfvhi0ojgvzxyn_4f4f";
  var gFpc = "WT_FPC";
  var gConvert = true;
  if ((typeof (gConvert) != "undefined") && gConvert && (document.cookie.indexOf(gFpc + "=") == -1) && (document.cookie
      .indexOf("WTLOPTOUT=") == -1)) {
    document.write("<SCR" + "IPT TYPE='text/javascript' SRC='" + "http" + (window.location.protocol.indexOf('https:') ==
      0 ? 's' : '') + "://" + gDomain + "Upper1/default.htm" + gDcsId + "ictexpo.hktdc.com/wtid.js" + "'><\/SCR" +
      "IPT>");
  }*/
</script>
<script type="text/javascript" src="http://wtsdc.tdctrade.comUpper1/default.htmdcsk3op4sticfvhi0ojgvzxyn_4f4fictexpo.hktdc.com/wtid.js"></script>
<script src="ICT16_3rd_eDM_Retail_sc.html" type="text/javascript"></script>
</body>

</html>
