    <table width="650" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#dcdcdc">
      <tbody>
        <!--1-->
        <tr>
          <td style="background-color:#58595b; line-height:1px; font-size:1px" valign="top" height="5" align="center"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header650_top2.gif" width="650" height="5"></td>
        </tr>
        <!--2-->
        <tr>
          <td valign="top">
            <table width="650" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td width="1" bgcolor="#58595b"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="1"></td>
                  <td align="left">
                    <table width="648" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <table width="648" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td width="5" bgcolor="#58595b">
                                    <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="5" height="1">
                                  </td>
                                  <td width="110" bgcolor="#58595b" align="center">
                                    <font style="font-family: verdana; font-size:12px; line-height: 18px; color:#FFFFFF " size="1" face="Verdana">
                                      <a href="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/index_v2_tc.html" target="_blank" style="color:#FFFFFF;">完整電郵內容</a>
                                    </font>
                                  </td>
                                  <td width="6" bgcolor="#58595b" align="center">&nbsp;</td>
                                  <td width="490" bgcolor="#58595b" align="right">
                                    <font style="font-family: verdana; font-size: 11px; line-height: 18px; color:#FFFFFF " size="1" face="Verdana">Share:&nbsp;</font>
                                  </td>
                                  <td width="23" bgcolor="#58595b" align="center">
                                    <a href="http://tpwebapp.hktdc.com/emailthis/recommend.asp?title=HKTDC Education &amp; Careers Expo  &amp;referrer_url=http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/index_tc.html"
                                      target="_blank">
                                      <img src="http://info.hktdc.com/cm/general/img/email.png" alt="email" class="paddigLt5" style="display:block" width="23"
                                        height="23" border="0" align="right"></a>
                                  </td>
                                  <td width="14" height="32" bgcolor="#58595b">
                                    <img src="http://info.hktdc.com/cm/general/img/spacer.gif" style="display:block" width="5" height="32" align="right">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height:1px; font-size:1px" width="648" height="1" align="center">
                            <img style="display:block" src="http://info.hktdc.com/cm/general/img/header_btm_590.gif" width="648" height="1">
                          </td>
                        </tr>
                        <tr>
                          <td width="648" valign="top" height="145" align="left">
                            <table style="background-color:#fdea32;" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td colspan="2" bgcolor="#FFFFFF">
                                    <div style="background-color:#fdea32; padding:0 5px; text-align:right; ; font-size:12px; color:#FFF; font-family:微軟正黑體, microsoft JHengHei;">
                                      <span style="color:#F90; font-size:20px; vertical-align:middle;">•</span>
                                      <!-- <a href="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/index_v2_tc.html" target="_blank" style="color:#000; text-decoration:none; padding:0 5px;">繁體</a> | -->
                                      <a href="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/index_v2_sc.html" target="_blank" style="color:#000; text-decoration:none; padding:0 5px;">简体</a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="background-color:#fdea32;padding:20px 10px 10px 40px; font-family:微軟正黑體,microsoft JHengHei; font-size:22px; line-height:24px; color:#000000"
                                    width="60%" valign="top" height="72" align="left">
                                    <strong><br>香港貿發局教育及職業博覽<br>2017年2月23至26日</strong><br>
                                  </td>
                                  <td style="background-color:#fdea32; padding-right:50px;" width="40%" valign="top">
                                    <a href="http://www.hktdc.com/hkeducationexpo/tc?DCSext.dept=5&amp;WT.mc_id=1823866" target="_blank">
                                      <img src="http://hkeducationexpo.hktdc.com/dm/2016/1st/img/education_visual.jpg" width="187" height="165" border="0" align="right"></a>
                                    <br><br>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="background-color:#fdea32;padding:10px 10px 0px 40px; font-family:微軟正黑體,microsoft JHengHei; font-size:16px; color:#FFF">
                                    <a href=" http://www.hktdc.com/hkeducationexpo/tc?DCSext.dept=5&amp;WT.mc_id=1823866" target="_blank">
                                    <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/btn_reg.png" width="232" height="42" border="0"></a><br>
                                    <br>
                                  </td>
                                  <td style="background-color:#fdea32; padding:10px;" width="40%" valign="top" align="center">
                                    <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/free.gif" width="300" height="90">
                                    <!--<img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/free.gif" width="224" height="43">-->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/1st/img/fair_education_address_tc.jpg" width="648" height="100"><br>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" height="15" bgcolor="#FFFFFF" align="center"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="15"></td>
                        </tr>
                        <tr>
                          <td valign="top" bgcolor="#FFFFFF" align="left">
                            <table width="648" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td width="14">
                                    <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="14" height="1">
                                  </td>
                                  <td width="620" valign="top" align="left">
                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:12px;" width="620" cellspacing="0" cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td width="620">
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                              <tbody>
                                                <tr valign="top">
                                                  <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td align="center">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/main.jpg" width="610" height="520"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="0"
                                                      border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            <p>第27屆「香港貿發局教育及職業博覽」<strong>將於2017年2月23至26日</strong>假灣仔會展舉行，匯聚逾800多家來自香港、奧地利、加拿大、中國內地、法國、德國、愛爾蘭、日本、英國及美國等地的教育機構，以及各政府部門、專業學會及私人企業等，提供升學及就業資訊，助各位拓展前路，邁向理想！</p>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td><strong><font style="line-height:14pt;" size="3" face="微軟正黑體,microsoft JHengHei" color="#17860f">博覽亮點</font></strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/spaceline.png" width="620" height="8" border="0"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="0"
                                                      border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="48%" valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/zone_edu.jpg" width="100%" border="0"></td>
                                                          <td width="4%">&nbsp;</td>
                                                          <td width="48%" valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/zone_career.jpg" width="100%" border="0"></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top" bgcolor="#b2d561">
                                                            <font size="3"><strong style="color:#CF020E">升學資訊</strong></font><br> 提供本地及海外升學、遙距課程、學士及副學士學位課程、職業教育及訓練、創意教育等。
                                                            <br></td>
                                                          <td>&nbsp;</td>
                                                          <td valign="top" bgcolor="#489A2B">
                                                            <font size="3"><strong style="color:#CF020E">就業情報</strong></font><br> 網羅警務處、消防處、機電工程署、香港機場管理局、中國太平人壽保險、半政府及其他機構、私人企業、工作假期計劃等。
                                                            <br></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="0"
                                                      border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="48%" valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/zone_speaker.jpg" width="100%" border="0"></td>
                                                          <td width="4%">&nbsp;</td>
                                                          <td width="48%" valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/zone_youth.jpg" width="100%" border="0"></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top" bgcolor="#85E3D5">
                                                            <font size="3"><strong style="color:#CF020E">逾100場精彩活動</strong></font><br> 星級嘉賓現場分享入行經驗及成功故事、DSE應試系列講座、藝術、珠寶設計、傳媒等行業發展前景講座、初創企業分享、海外工作假期簡介等。
                                                            <br></td>
                                                          <td>&nbsp;</td>
                                                          <td valign="top" bgcolor="#18A6C3">
                                                            <font size="3"><strong style="color:#CF020E">青年廣場 (Youth Zone)</strong></font><br> 為年青人而設的一站式平台提供現場招聘、持續進修、實習計劃及中港文化交流考察團等。
                                                            <br></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="5"
                                                      border="0">
                                                      <tbody>
                                                        <tr bgcolor="#ffff80" align="center">
                                                          <td>
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker10.png" width="520" height="350" border="0">&nbsp;</td>
                                                        </tr>
                                                        <tr bgcolor="#ffff00">
                                                          <td valign="top" align="center"><strong style="color:#BD059A">國際交流村</strong><br> 提供各地一站式升學和就業環境的最新概況及諮詢服務，
                                                            <br> 包括孟加拉、柬埔寨、匈牙利、伊朗、韓國、墨西哥、菲律賓、瑞典、南非等。
                                                            <br></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br><br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td><strong><font style="line-height:14pt;" size="3" face="微軟正黑體,microsoft JHengHei" color="#17860f">星級嘉賓講者</font></strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/spaceline.png" width="620" height="8" border="0"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table><br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="5"
                                                      border="0">
                                                      <tbody>
                                                        <tr bgcolor="#EBF09F" align="center">
                                                          <td width="33%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker5.jpg" width="180" height="250" border="0"></td>
                                                          <td width="34%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker4.jpg" width="180" height="250" border="0"></td>
                                                          <td width="33%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker6.jpg" width="180" height="250" border="0"></td>
                                                        </tr>
                                                        <tr bgcolor="#E1E874">
                                                          <td valign="top" align="center"><strong style="color:#BD059A">23/2 (四) - 劉鳴煒</strong><br> 青年事務委員會主席
                                                            <br><br>
                                                            <font color="#BD059A">前路如何，你有得揀！</font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">24/2 (五) - 林鴻勝</strong><br> 珠寶設計師及
                                                            <br>珠寶集團創作總監<br>
                                                            <font color="#BD059A">主題: 設計</font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">24/2 (五) - 陳志雲</strong><br> 資深傳媒人
                                                            <br> 廣播電台首席智囊 <br>
                                                            <font color="#BD059A">主題: 傳媒</font>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="5"
                                                      border="0">
                                                      <tbody>
                                                        <tr bgcolor="#EBF09F" align="center">
                                                          <td width="33%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker7.jpg" width="180" height="250" border="0"></td>
                                                          <td width="34%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker8.jpg" width="180" height="250" border="0">&nbsp;</td>
                                                          <td width="33%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker9.jpg" width="180" height="250" border="0"></td>
                                                        </tr>
                                                        <tr bgcolor="#E1E874">
                                                          <td valign="top" align="center"><strong style="color:#BD059A">24/2 (五) - 施仁毅</strong><br> 電子遊戲公司主席
                                                            <br> 香港遊戲產業協會理事會主席
                                                            <br>
                                                            <font color="#BD059A">主題: 藝術與科技</font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">24/2 (五) - 香格拉</strong><br> 網絡紅人
                                                            <br><br>
                                                            <font color="#BD059A">我又要做Youtuber! ─<br> 網絡紅人分享</font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">24/2 (五) - Y Cocktail &amp; Mocktail </strong><br> &nbsp;
                                                            <br>
                                                            <font color="#BD059A">敢想！敢做！<br> 年青人「初創」飲食之路
                                                            </font>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="5"
                                                      border="0">
                                                      <tbody>
                                                        <tr bgcolor="#EBF09F" align="center">
                                                          <td width="33%">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker03.jpg" width="180" height="250" border="0">&nbsp;</td>
                                                          <td width="33%"><img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker1.jpg" width="180" height="250" border="0"></td>
                                                          <td width="34%"><img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/speaker2.jpg" width="180" height="250" border="0"></td>
                                                        </tr>
                                                        <tr bgcolor="#E1E874">
                                                          <td valign="top" align="center"><strong style="color:#BD059A">25/2 (六) - 蔣嘉琦</strong><br> 香港賽馬會見習騎師
                                                            <br><br>
                                                            <font color="#BD059A">「策出琦跡 ─<br> 見習騎師的點滴」
                                                            </font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">26/2 (日) - 歐陽偉豪(Ben Sir)</strong><br> 香港中文大學中國語言及
                                                            <br>文學系高級講師 <br>
                                                            <font color="#BD059A">備戰DSE 系列 ─<br>中文作文與通識答題之共通點</font>
                                                          </td>
                                                          <td valign="top" align="center"><strong style="color:#BD059A">26/2 (日) - 甄沃奇</strong><br> &lt;5**作文&gt; 系列書籍顧問作者<br><br>
                                                            <font color="#BD059A">備戰DSE 系列 ─<br>中文作文與通識答題之共通點</font>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br><br>
                                                    <table style="background-color:#8cc63f" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="58" height="58" align="center"><img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/free_icon.gif" alt="" width="52"></td>
                                                          <td width="196" valign="middle"><strong><font style="line-height:14pt;" size="3" face="微軟正黑體,microsoft JHengHei" color="#ffffff">&nbsp;入場參觀兼索取精美禮品</font></strong></td>
                                                          <td width="366">&nbsp;<img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/icon_gift.png" alt="" height="35"></td>
                                                        </tr>
                                                        <tr>
                                                          <td colspan="3" valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/spaceline.png" width="620" height="8" border="0"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px; background-color:#fdfa01" valign="top" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr valign="top">
                                                          <td style="padding-left:40px; padding-top:40px"><br>閣下必須攜同此宣傳單張<strong style="color:#FC00DB">親臨教育及職業博覽會場</strong> (展位:1E-A19) 換領<br> 每人只能換取禮品一份。圖片只供參考。
                                                            <br> 數量有限，先到先得，送完即止
                                                            <br> 如有任何爭議，香港貿易發展局保留最終決定權。
                                                            <br> 有效日期: 2017年2月23至26日<br>
                                                          </td>
                                                          <td width="180" align="centre"><br>
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/gifts.png" width="180" height="180" border="0"></td>
                                                        </tr>
                                                        <tr valign="top" align="center">
                                                          <td>&nbsp;</td>
                                                          <td>3合1發光積木筆座<br><br>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td><strong><font style="line-height:14pt;" size="3" face="微軟正黑體,microsoft JHengHei" color="#17860f">主題講座及博覽詳情</font></strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/spaceline.png" width="620" height="8" border="0"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:Arial, Helvetica, sans-serif;font-size:14px;" width="100%" cellspacing="0" cellpadding="5" border="0">
                                                      <tbody>
                                                        <tr bgcolor="#FF66FF">
                                                          <td style="border:1px solid #FF66FF;border-top:1px solid #FF66FF;" width="20%" height="30" align="center"><strong>展覽日期</strong></td>
                                                          <td style="border:1px solid #FF66FF;border-top:1px solid #FF66FF;" width="25%" align="center"><strong>*開放時間</strong></td>
                                                          <td style="border:1px solid #FF66FF;border-top:1px solid #FF66FF;" width="27%" align="center"><strong>主題教育日講座</strong></td>
                                                          <td style="border:1px solid #FF66FF;border-top:1px solid #FF66FF;" width="28%" align="center"><strong>主題職業日講座</strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">23/2 (星期四)</td>
                                                          <td rowspan="3" style="border:1px solid #FF66FF;" valign="middle" align="center">上午10時30分<br> 至下午7時
                                                          </td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">中國內地</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">&nbsp;&nbsp;&nbsp; 創新科技
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/new_icon.jpg" width="30" height="30" border="0"></td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">24/2 (星期五)</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">&nbsp;&nbsp;&nbsp;&nbsp;日本
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/new_icon.jpg" width="30" height="30" border="0"></td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">&nbsp;&nbsp;&nbsp; 藝術
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/new_icon.jpg" width="30" height="30" border="0"></td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">25/2 (星期六)</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">歐洲</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">機電工程</td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">26/2 (星期日)</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">上午10時30分<br> 至下午6時
                                                          </td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">澳洲及新西蘭</td>
                                                          <td style="border:1px solid #FF66FF;" valign="bottom" align="center">&nbsp;&nbsp;&nbsp; 創業
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2017/3rd_party/img/new_icon.jpg" width="30" height="30" border="0"></td>
                                                        </tr>
                                                        <tr>
                                                          <td colspan="4">
                                                            <font size="1">(*開放給公眾人士入場參觀，展覽會每日關閉前45分鐘停止參觀人士進場)</font>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td><strong><font style="line-height:14pt;" size="3" face="微軟正黑體,microsoft JHengHei" color="#17860f">查詢</font></strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td valign="top">
                                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/3rd_party/img/spaceline.png" width="620" height="8" border="0"></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                    <table style="font-family:Arial, Helvetica, sans-serif;font-size:14px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                      <tbody>
                                                        <tr>
                                                          <td align="left">
                                                            查詢電話: 1830 668 <br> 電郵: <a href="mailto:exhibitions@hktdc.org">exhibitions@hktdc.org</a><br>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br><br>
                                                    <table style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;" width="100%" cellspacing="0" cellpadding="5" border="0">
                                                      <tbody>
                                                        <tr align="center">
                                                          <td width="30%">&nbsp;</td>
                                                          <td width="40%" bgcolor="#22AADB">
                                                            <br>
                                                            <a href="http://www.hktdc.com/hkeducationexpo/tc?DCSext.dept=5&amp;WT.mc_id=1823866" target="_blank" style="text-decoration:none" color="ffffff">
                                                              <font size="+3"><strong>登入網站</strong></font>
                                                            </a>
                                                            <br><br>
                                                          </td>
                                                          <td width="30%">&nbsp;</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <br>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td bgcolor="#FFFFFF"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="15"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td width="14"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="14" height="1"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height:1px; font-size:1px" width="648" align="center"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header_btm_590.gif" width="648" height="3"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="1" bgcolor="#58595b"><img style="display:block" src="../../../spacer.gif" width="1" height="1"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!--2-->
        <tr>
          <td style="background-color:#58595b; line-height:1px; font-size:1px" valign="top" height="4" align="center"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header650_bottom2.gif" width="650" height="4"></td>
        </tr>
        <!--1-->
      </tbody>
    </table>
    <map name="Map3" id="Map3">
      <area shape="rect" coords="176,9,431,180" href="http://www.hktdc.com/info/webcast/v/en/en/1X04B8UI/Raptors--Rifles---Royalty-in-Play-at-the-HKTDC-Hong-Kong-Toys---Games-Fair-2012-.htm" target="_blank">
    </map>
