<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div style="display: block;width:100%; border:0;">
  <div style="display: block;width:80%; border:0;margin:0 auto 0 5%; text-align:justify;">
    <i>
      <b>
        <h4>Dear Valued Customer,</h4>
        <p>Hope you are having a great day!</p>
        <p>
          Since 2014, we have been committed in connecting quality students and young talents (0-5 years of experience) to amazing
          enterprises and organizations like yours, through a variety of ways, including employer branding campaigns, seminars,
          case competitions, assessment centers, our online platform <a href="https://www.freshlinker.com"> www.freshlinker.com </a>and
          many more…
        </p>
        <p>In fact, we have also been conducting contingency recruitment services for a number of our clients. This is a high demand
          service and sadly we only had limited resources to provide this service to a limited number of our close clients –
          after all, FreshLinker started as a recruitment agency back in 2014! However, with our recent expansion, we are excited
          to tell you that we are now able to provide this contingency recruitment service to <em style="color:red"> ALL </em>of our clients.
        </p>
        <u>
          How’s our contingency recruitment service different?
        </u>
      </b>
    </i>
    <ul>
      <li>We are your partner and not your typical agency. We have been in this specific field for a while now and you can count
        on us to respect your needs, concerns and times.</li>
      <li>We already have a large database of young talent candidates at our disposal, supported by our online platform and offline
        engagement connections.</li>
      <li>Our experienced consultants are leading experts in the Hong Kong’s young talent recruitment and employer branding ecosystem.
      </li>
    </ul>
    <p>
      That being said, like similar recruitment service out there, you will only pay if we filled the roles!
    </p>
    <p>
      Thus, should you have any young talent (0-5 years of experience) roles that you would like to fill soon or simply would like
      to know more about our contingency recruitment service, please feel to call us at 3547 2515 or email us at <a href="mailto:hello@freshlinker.com" target="_blank">hello@freshlinker.com</a>
      - our consultants will get back to you as soon as we can.
    </p>
    <p>
      Nevertheless, should you have any other recruitment pains that have been bothering you for long, please let us know and we
      are committed to help you solve them!
    </p>
    <p>Cheers,</p>
    <p>The FreshLinker Talent Acquisition Team</p>
  </div>
</div>

</body>

</html>
