<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>HKTDC Education &amp; Careers Expo</title>
  <meta name="title" content="Marketing Your Houseware to the World! HKTDC HK Houseware Fair 2013, 20-23 April">
  <meta name="description" content="The HKTDC Hong Kong Houseware Fair is a truly international event, attracting suppliers and buyers from around the globe. As the largest event of its kind in Asia, it provides the perfect marketing platform for all manner of houseware products.">
  <link rel="image_src" href="http://info.hktdc.com/cm/general/img/tdc_logo_4c_wbg.gif">
</head>

<body bgcolor="#dcdcdc" youdao="bind">
  <table cellspacing="0" cellpadding="10" width="102%" bgcolor="#dcdcdc" border="0">
    <tbody>
      <tr>
        <td>
          <table width="650" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
              <tr>
                <td>
                  <table width="650" border="0" cellspacing="0" cellpadding="0" bgcolor="#dcdcdc">
                    <tbody>
                      <tr>
                        <td width="9" height="60">&nbsp;</td>
                        <td align="left" valign="bottom" bgcolor="#dcdcdc">
                          <font style="font-family: 微軟正黑體,microsoft JHengHei; font-size: 13px; line-height: 15px;" size="1" color="#58595b" face="微軟正黑體,microsoft JHengHei">最後召集，請立即登記參展香港貿發局教育及職業博覽！<br>
                            <br>
                          </font>
                        </td>
                        <td align="right" valign="bottom" bgcolor="#dcdcdc" height="60" width="215">
                          <a href="http://www.hktdc.com/tc" target="_blank">
                            <img src="http://info.hktdc.com/cm/general/img/tag_logo_tc.gif" alt="HKTDC" width="150" height="50" border="0"></a>
                        </td>
                        <td width="4"><img style="display: block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="4" height="1"></td>
                      </tr>
                      <tr>
                        <td><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="2"></td>
                        <td align="left" valign="top" bgcolor="#dcdcdc"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="2"></td>
                        <td><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="2"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="background-color:#58595b" height="5"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header650_top2.gif" width="650" height="5"></td>
              </tr>
              <tr>
                <td valign="top">
                  <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td width="1" bgcolor="#58595b"><img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="1"></td>
                        <td align="left">
                          <table width="648" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="648" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="5" bgcolor="#58595b">
                                          <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="5" height="1"></td>
                                        <td width="110" align="center" bgcolor="#58595b">
                                          <font style="font-family: verdana; font-size:12px; line-height: 18px; color:#FFFFFF " face="Verdana" size="1">
                                            <a href="http://hkeducationexpo.hktdc.com/dm/2017/invitation/index_tc.html" target="_blank" style="color:#FFFFFF;">完整電郵內容</a>
                                          </font>
                                        </td>
                                        <td width="6" align="center" bgcolor="#58595b">&nbsp;</td>
                                        <td width="490" align="right" bgcolor="#58595b">
                                          <font style="font-family: verdana; font-size: 11px; line-height: 18px; color:#FFFFFF " face="Verdana" size="1">Share:&nbsp;</font>
                                        </td>
                                        <td width="23" align="center" bgcolor="#58595b">
                                          <a href="http://tpwebapp.hktdc.com/emailthis/recommend.asp?title=HKTDC Education &amp; Careers Expo  &amp;referrer_url=http://hkeducationexpo.hktdc.com/dm/2017/invitation/index_tc.html"
                                            target="_blank">
                                            <img src="http://info.hktdc.com/cm/general/img/email.png" alt="email" width="23" height="23" border="0" align="right" class="paddigLt5"
                                              style="display:block"></a>
                                        </td>
                                        <!--<td width="160" align="right" bgcolor="#58595b">
                                          <font style="font-family: verdana; font-size: 11px; line-height: 18px; color:#FFFFFF "
                                            face="Verdana" size="1">Share:&nbsp;</font>
                                        </td>
                                        <td width="29" height="32" bgcolor="#58595b">
                                          <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fhktoyfair.hktdc.com%2Fdm%2FVP%2F2015%2Findex_hs_3n_en.html&amp;t=HKTDC%20HK%20Toys%20%26%20Games%20Fair%202015%20%2812%2D15%20Jan%29%20%2D%20%20Enjoy%20up%20to%203%20NIGHTS%20of%20FREE%20HOTEL%20ACCOMMODATION%20for%20New%20Trade%20Buyers%2E%20Register%20NOW%21"
                                            target="_blank"><img style="display:block" src="http://info.hktdc.com/cm/general/img/btn_fb2.jpg"
                                              alt="Facebook" width="29" height="28" border="0" /></a>
                                        </td>
                                        <td width="29" height="32" bgcolor="#58595b">
                                          <a href="http://twitter.com/?status=Asia%27s%20Largest%20Toys%20Fair%20happening%20in%20Hong%20Kong%3A%20Enjoy%20up%20to%203%20NIGHTS%20of%20FREE%20HOTEL%20ACCOMMODATION%20for%20New%20Trade%20Buyers%2E%20Register%20NOW%21%20-%20http://bit.ly/1pXBlGK"
                                            target="_blank"><img style="display:block" src="http://info.hktdc.com/cm/general/img/btn_twitter2.gif"
                                              alt="Twitter" width="29" height="28" border="0" /></a>
                                        </td>
                                        <td width="29" height="32" bgcolor="#58595b">
                                          <a href="http://v.t.sina.com.cn/share/share.php?title=Asia%27s%20Largest%20Toys%20Fair%20happening%20in%20Hong%20Kong%3A%20Enjoy%20up%20to%203%20NIGHTS%20of%20FREE%20HOTEL%20ACCOMMODATION%20for%20New%20Trade%20Buyers%2E%20Register%20NOW%21&amp;url=http://hktoyfair.hktdc.com/dm/2015/award/index.html"
                                            target="_blank"><img style="display:block" src="http://info.hktdc.com/cm/general/img/btn_sina.jpg"
                                              alt="微博" width="29" height="28" border="0" /></a>
                                        </td>-->
                                        <td width="14" height="32" bgcolor="#58595b">
                                          <img src="http://info.hktdc.com/cm/general/img/spacer.gif" width="5" height="32" align="right" style="display:block"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" width="648" height="1">
                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/header_btm_590.gif" width="648" height="1"></td>
                              </tr>
                              <tr>
                                <td align="left" valign="top"></td>
                              </tr>
                              <!--<tr>
                                <td width="648" bgcolor="#fdea32">
                                  <div style="background-color:#fdea32; padding:0 5px; text-align:right; font-family:微軟正黑體,microsoft JHengHei; font-size:12px; color:#231f20;">
                                  <span style="color:#F90; font-size:20px; vertical-align:middle;">&bull;</span>
                                    <a href="http://hkeducationexpo.hktdc.com/dm/2017/1st/index_en.html" target="_blank" style="color:#231f20; text-decoration:none; padding:0 5px;">Eng</a>                                    |
                                    <a href="http://hkeducationexpo.hktdc.com/dm/2017/1st/index_sc.html" target="_blank"
                                      style="color:#231f20; text-decoration:none; padding:0 5px;">简体</a>
                                  </div>
                                </td>
                              </tr>-->
                              <tr>
                                <td align="left" valign="top" width="648" height="145">
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#fdea32;">
                                    <tbody>
                                      <tr>
                                        <td width="67%" align="left" valign="top" height="72" style="background-color:#fdea32;padding:20px 10px 10px 15px; font-family:微軟正黑體,microsoft JHengHei; font-size:18px; line-height:24px; color:#000000">
                                          <strong> 教育及職業博覽</strong><br> 2017年2月23至26日
                                          <br> 香港會議展覽中心
                                        </td>
                                        <td width="33%" rowspan="2" valign="top" style="background-color:#fdea32; padding-right:20px;">
                                          <a href="http://www.hktdc.com/fair/hkeducationexpo-tc/香港貿發局教育及職業博覽.html" target="_blank">
                                            <img src="http://hkeducationexpo.hktdc.com/dm/2016/1st/img/education_visual.jpg" width="150" height="140" border="0" align="right"></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="background-color:#fdea32;padding:10px 10px 0px 15px; font-family:微軟正黑體,microsoft JHengHei; font-size:16px; color:#FFF">
                                          <a href="http://hkeducationexpo.hktdc.com/pdf/2017/SecondarySchoolInvitation.pdf" target="_blank">
                                            <img src="http://hklightingfairae.hktdc.com/dm/2015/voting/img/btn_regSmall_tc.png" width="221" height="42" border="0"></a><br>
                                          <br></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <img src="http://hkeducationexpo.hktdc.com/dm/2017/invitation/img/fair_signature_tc.jpg" width="648" height="75"><br></td>
                              </tr>
                              <tr>
                                <td height="15" align="center" valign="top" bgcolor="#FFFFFF">
                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="15"></td>
                              </tr>
                              <tr>
                                <td bgcolor="#FFFFFF" align="left" valign="top">
                                  <table width="648" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="14">
                                          <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="14" height="1"></td>
                                        <td width="620" align="left" valign="top">
                                          <table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:12px;">
                                            <tbody>
                                              <tr>
                                                <td width="620">
                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                      <tr valign="top">
                                                        <td>
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;">
                                                            <tbody>
                                                              <tr>
                                                                <td>敬啟者，</td>
                                                              </tr>
                                                            </tbody>
                                                          </table><br>

                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                              <tr>
                                                                <td align="center"><strong><font face="微軟正黑體,microsoft JHengHei" size="4" color="#f26522">香港貿易發展局教育及職業博覽 (2017年2月23至26日)<br> 邀請函</font></strong></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>

                                                          <br>
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;">
                                                            <tbody>
                                                              <tr>
                                                                <td> 您好! 首先本人謹代表香港貿易發展局恭祝 閣下及 貴機構仝人新年進步!<br><br> 由香港貿易發展局主辦的第27屆教育及職業博覽將於2月23日起一連四日假香港會議展覽中心舉行。博覽將雲集本地及海外十多個國家及地區800家參展機構，提供各式各樣的升學、進修和就業資訊。此活動也同時為各大專院校、教育機構及僱主與在學人士，有意進修人士及求職者提供寶貴的交流機會。
                                                                  <br><br> 我們認為以下重點節目適合 貴機構的對象，歡迎您留意及帶領他們一同參與:
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <br>

                                                          <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td><strong><font face="微軟正黑體,microsoft JHengHei" style="line-height:14pt;" color="#f26522" size="3">(1)	教育部分 </font></strong></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <hr color="#f26522" display="none">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;">
                                                            <tbody>
                                                              <tr>
                                                                <td>一眾從事<strong>本地專上教育、專業教育、創意教育、以及職業訓練</strong>的學院和機構將於博覽中介紹各類課程，而外地的教育機關、升學及文化交流中心也會向參觀人士講解<strong>外地的升學機會</strong>及詳情。<br><br>                                                                  此外，博覽近年新增
                                                                  <strong>主題教育日</strong>，展期每日會圍繞一個主題國家而集中舉辦有關講座，使有興趣的人士能深入了解當地的學習及生活情況，以及入學要求等等，為自己的未來好好規劃，好好準備。我們已定下主題教育日每日的主題國家地區，順著展期的次序，<strong>四日的主題分別為「中國內地教育」，「日本教育」<em style="color:#FF0004">(新)</em>，「歐洲教育」和「澳洲、紐西蘭教育」</strong>，並鋪排了豐富的講座內容，希望
                                                                  貴校學生不要錯過。 </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <br>
                                                          <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td><strong><font face="微軟正黑體,microsoft JHengHei" style="line-height:14pt;" color="#f26522" size="3">(2)	職業部分</font></strong></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <hr color="#f26522" display="none">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;">
                                                            <tbody>
                                                              <tr>
                                                                <td>博覽的職業部分將有助參觀人士探索各行業及就業出路。將展出的機構涵蓋紀律部隊，工程界，創業，金融界，政府部門，航運業，地產界等等未能盡錄。參觀人士能親身了解各行業的入職要求，前景，行業文化及最新發展方向。除此之外，博覽更有參展機構提供不需要高等學歷的工種，以及接受相關工作經驗尚淺的人士入行，正正適合打算投身社會工作或轉行的人士參觀。<strong>2017年的主題行業日，順著展期的次序為「創新科技」<em style="color:#FF0004">(新)</em>，「藝術」<em style="color:#FF0004">(新)</em>，「機電工程」和「創業」<em style="color:#FF0004">(新)</em></strong>。讓求職者可了解相關行業最新資訊及發展方向。</td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <br>

                                                          <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td><strong><font face="微軟正黑體,microsoft JHengHei" style="line-height:14pt;" color="#f26522" size="3">(3)	精彩活動</font></strong></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <hr color="#f26522" display="none">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:微軟正黑體,microsoft JHengHei;font-size:14px; line-height:20px;">
                                                            <tbody>
                                                              <tr>
                                                                <td>博覽每天舉行多場精彩活動，當中的研討會及主題分享會，專為學生及求職者而設，絕對不容錯過。本屆我們邀請了青年事務委員會主席<strong>劉鳴煒</strong>、網絡紅人<strong>香格拉 Shangrilayt</strong>、香港賽馬會見習騎師<strong>蔣嘉琦</strong>、香港中文大學中國語言及文學系高級講師<strong>歐陽偉豪</strong>                                                                  及 &lt;5**作文&gt;系列書籍顧問作者<strong>甄沃奇</strong>等名人嘉賓及專家，分享他們的見解和經驗，定必能為各人帶來新的體會。<br><br>                                                                  本局相信此博覽對 貴機構會員有莫大的裨益。我們誠邀 閣下鼎力支持，鼓勵他們進場免費參觀，更可組織團體蒞臨參觀。我們備有相關的海報及宣傳單張，也樂意為預先登記參觀團體提供<strong>免費導賞</strong>服務。
                                                                  請於
                                                                  <u>2017年2月17日</u>前填妥隨函所附的回條以便本局作出適當安排。同時請 貴機構也於回條上回覆是否有意參加VTC的技能體驗活動，本局會在導賞時間一併安排。<br><br>                                                                  如想了解更多關於教育及職業博覽的資料， 請瀏覽網頁:
                                                                  <a href="http://www.hktdc.com/hkeducationexpo" target="_blank">www.hktdc.com/hkeducationexpo</a>。
                                                                  如有查詢， 歡迎您致電：2240-4203， 傳真：2169-9169，或電郵：
                                                                  <a href="mailto:cyril.kc.fok@hktdc.org">cyril.kc.fok@hktdc.org</a>與本人或霍竟昌先生聯絡。<br><br>                                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;敬祝

                                                                  <br> 鈞安
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <br>
                                                          <table width="100%" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td align="right"> 香港貿易發展局<br> 展覽事務部經理
                                                                  <br>
                                                                  <img width="189" height="104" alt="rebecca" src="http://hkeducationexpo.hktdc.com/dm/2017/invitation/img/peggy_leung_tc.png"><br>
                                                                  <font size="2" face="Arial, Helvetica, sans-serif" style="line-height:14pt; ">梁楚紅 謹啟<br> 2017年2月9日
                                                                    <br>
                                                                  </font>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>

                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                              <tr>
                                                                <td align="center">
                                                                  <a href="http://hkeducationexpo.hktdc.com/pdf/2017/SecondarySchoolInvitation.pdf" target="_blank">
                                                                    <img src="http://hkeducationexpo.hktdc.com/dm/2017/invitation/img/btn_slip_tc.gif" alt="" border="0"></a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>

                                                </td>
                                              </tr>
                                              <tr>
                                                <td bgcolor="#FFFFFF">
                                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="15"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                        <td width="14">
                                          <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="14" height="1"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" width="648">
                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/header_btm_590.gif" width="648" height="3"></td>
                              </tr>
                              <tr>
                                <td align="left">
                                  <table width="648" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="10" bgcolor="#e7e7e8">
                                          <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="10"></td>
                                        <td>
                                          <table width="638" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e7e8">
                                            <tbody>
                                              <tr>
                                                <td height="9">
                                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="9"></td>
                                              </tr>
                                              <tr>
                                                <td align="left" bgcolor="#e7e7e8" valign="top">
                                                  <a href="http://info.hktdc.com/terms/index.htm" target="_blank" style="text-decoration: none;">
                                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">Terms of Use </font>
                                                  </a>
                                                  <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">/ </font>
                                                  <a href="http://info.hktdc.com/terms/chi/index.htm" target="_blank" style="text-decoration: none;">
                                                    <font style="font-family: 新細明體,simsun; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">使用條款</font>
                                                  </a> &nbsp; &nbsp;
                                                  <a href="http://www.hktdc.com/mis/pps/en/Privacy-Policy-Statement.html" target="_blank" style="text-decoration: none;">
                                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">Privacy Statement </font>
                                                  </a>
                                                  <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">/ </font>
                                                  <a href="http://www.hktdc.com/mis/pps/tc/%26%2331169%3B%26%2338560%3B%26%2325919%3B%26%2331574%3B%26%2332882%3B%26%2326126%3B.html"
                                                    target="_blank" style="text-decoration: none;">
                                                    <font style="font-family: 新細明體,simsun; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="新細明體,simsun">私隠政策聲明</font>
                                                    </a><br><br>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" bgcolor="#e7e7e8" valign="top">
                                                  <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">
                                                    © 2017 Hong Kong Trade Development Council. All rights reserved. <br>                                                    38/F, Office Tower, Convention Plaza, 1 Harbour Road, Wan Chai, Hong
                                                    Kong
                                                    <br>Customer Service Line:(852) 1830 668</font>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" bgcolor="#e7e7e8" valign="top">
                                                  <a href="mailto:hktdc@hktdc.org" style="text-decoration: none;">
                                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">Email: hktdc@hktdc.org<br>
                                                      <br>
                                                    </font>
                                                  </a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="left" bgcolor="#e7e7e8" valign="top">
                                                  <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">© 2017 香港貿發局版權所有, 對違反版權者保留一切追索權利。</font>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <table width="638" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                          <table width="529" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                              <tr>
                                                                <td align="left" bgcolor="#e7e7e8" valign="top" width="478" class="col">
                                                                  <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">香港灣仔港灣道1號會展廣場辦公大樓38樓<br>客戶服務專線:(852) 1830 668</font>
                                                                </td>
                                                              </tr>
                                                              <tr>
                                                                <td align="left" bgcolor="#e7e7e8" valign="top">
                                                                  <a href="mailto:hktdc@hktdc.org" style="text-decoration: none;">
                                                                    <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#222222" face="新細明體">電郵: </font>
                                                                    <font style="font-family: arial; font-size: 11px; line-height: 15px;" size="1" color="#222222" face="arial">hktdc@hktdc.org</font>
                                                                  </a>
                                                                  <img style="display:block" src="http://info.hktdc.com/cm/general/img/spacer.gif" width="1" height="5"></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                        <td align="right" bgcolor="#e7e7e8" valign="bottom" width="109">
                                                          <a href="http://www.hktdc.com/" target="_blank">
                                                            <img style="display: block" src="http://info.hktdc.com/cm/general/img/footer_11.gif" alt="www.hktdc.com" border="0" height="25"
                                                              width="109"></a>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="1" bgcolor="#58595b"><img style="display:block" src="../../../spacer.gif" width="1" height="1"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="background-color:#58595b" height="4"><img style="display:block" src="http://info.hktdc.com/cm/general/img/header650_bottom2.gif" width="650" height="4"></td>
              </tr>
              <tr>
                <td>
                  <table align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td width="13" bgcolor="#dcdcdc">
                          <font size="1" color="#58595b" face="verdana" style="font-family:verdana; font-size:13px; line-height:18px;"><br><br></font>
                        </td>
                        <td width="637" bgcolor="#dcdcdc">
                          <font style="font-family: 新細明體; font-size: 11px; line-height: 16px;" size="1" color="#58595b" face="新細明體">
                            您收到香港貿發局服務推廣訊息，因為本局的公司資料庫載有您的聯絡資料。此電郵地址僅供發放消息之用，請勿回覆此電郵。如對此電郵內容有任何查詢，請電郵至</font>
                          <font style="font-family: verdana; font-size: 11px; line-height: 18px;" size="1" color="#58595b" face="verdana"><a href="mailto:exhibitions@hktdc.org">exhibitions@hktdc.org</a> <br>
                            <br> To unsubscribe or manage your HKTDC e-subscription, please
                            <a href="http://www.hktdc.com/epc/epc_subscription.htm?usid=$$EMAIL$&amp;locale=EN" target="_blank" style="color:#58595b; text-decoration:underline">click here</a>.<br></font>
                          <font style="font-family: verdana; font-size: 13px; line-height: 15px;" size="1" color="#58595b" face="verdana">拒絕接收推廣信息或更新您的香港貿發局電郵訂閲，請按
                            <a href="http://www.hktdc.com/epc/epc_subscription.htm?usid=$$EMAIL$&amp;locale=zh_TW" target="_blank" style="color:#58595b; text-decoration:underline">此處</a>。</font>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
  <!-- START OF SmartSource Data Collector TAG -->
  <!-- Copyright (c) 1996-2006 WebTrends Inc.  All rights reserved. -->
  <!-- $DateTime: 2006/03/01 12:51:54 $ -->

  <!-- END OF SmartSource Data Collector TAG -->

  <map name="Map3" id="Map3">
  <area shape="rect" coords="176,9,431,180" href="http://www.hktdc.com/info/webcast/v/en/en/1X04B8UI/Raptors--Rifles---Royalty-in-Play-at-the-HKTDC-Hong-Kong-Toys---Games-Fair-2012-.htm" target="_blank">
</map>


</body>

</html>
