<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div style="display: block;width:100%; border:0;">
  <div style="display: block;width:80%; border:0;margin:0 auto 0 5%; text-align:justify;">
    <h4>Hi there!</h4>
    <p>
      **Alerts to those who are looking for a Summer Internship**
    </p>
    <p>
      Application is now open for PILOT Financial Group (a company under Prudential)'s Summer Internship Program 2017!
    </p>
    <p>
      The internship program will last from June till August, where participants will be allocated to attend a variety of training courses, seminars, hands-on experience and case-competitions.
      On top of that, the company will also reward good performance interns a free trip to Macau and London!
    </p>
    <p>
      That's right, if you perform well in this internship, the company will reward you by sponsoring you a trip to London and visit Prudential's headquarter office.
    </p>
    <p>
      We are telling you now, because we don't want you to miss out – this really is a rare opportunity. Don't want to miss out?
    </p>
    <p>Fill in this Google form to stay ahead of PILOT's updates (They are hosting an internship briefing in May)：</p>
    <a href="https://docs.google.com/forms/d/1pNmEwbVIP-awQEXtLnxk96BuOBEAuOc3yavI9IUYUhc/viewform?edit_requested=true">https://docs.google.com/forms/d/1pNmEwbVIP-awQEXtLnxk96BuOBEAuOc3yavI9IUYUhc/viewform?edit_requested=true</a>
    <br>
    <p>Hope you are having a great day!</p>
    <br>
    <p>Cheers,</p>
    <p>FreshLinker Limited</p>
    <p>The member company of Incu-App Programme, HKSTP</p>
    <p>www.freshlinker.com</p>
  </div>
</div>

</body>

</html>
